.body.headerMarginTop
  .main{:role => "main"}
    .container
      .row
        .col-lg-12
          .blog-posts.single-post
            %article.post.post-large.blog-single-post
              .post-image
                .owl-carousel.owl-theme{"data-plugin-options" => "{'items':1}"}
                  - @post.the_fields('post-image').each do |image|
                    %div
                      .img-thumbnail.d-block
                        = image_tag image, class: 'img-fluid'
              .post-date
                - tweetDate = @post.the_field('date').split('-')
                - day = tweetDate[2]
                - month = Date::MONTHNAMES[tweetDate[1].to_i][0..2]
                %span.day
                  = day
                %span.month
                  = month
              .post-content
                %h2.colorPrimary
                  = @post.the_field('post-title')
                .post-meta
                  %span
                    %i.fa.fa-user
                    By
                    %span.colorPrimary
                      = @post.the_field('post-author')
                  %span
                    %i.fa.fa-tag
                    - @post.the_fields('post-tag').each do |tag|
                      %span.colorPrimary
                        = tag
                        = ',' unless @post.the_fields('post-tag').last == tag
                = @post.the_field('post-content')
                .post-block.post-share
                  %h3.heading-primary
                    %i.fa.fa-share>
                    Share this post
                  / AddThis Button BEGIN
                  .addthis_toolbox.addthis_default_style
                    - url = @post.the_url
                    - title = @post.the_field('post-title')
                    - content = @post.the_field('post-content')
                    %span.shareFacebook
                      - facebook = "https://www.facebook.com/sharer.php?u=#{url}"
                      = link_to facebook, target: "_blank" do
                        %span.fa.fa-facebook
                          share with facebook
                    %span.shareTwitter
                      - twitter = "https://twitter.com/home?status={url}"
                      = link_to @post.the_url, target: "_blank" do
                        %span.fa.fa-twitter
                          share with twitter
                    %span.shareLinkin
                      - linkedin = "https://www.linkedin.com/shareArticle?mini=true&url=#{url}&title=#{title}&summary=#{content}&source="
                      = link_to @post.the_url, target: "_blank" do
                        %span.fa.fa-linkedin
                          share with linkedIn