.body.headerMaginTop
  .main{:role => "main"}
    = render 'partials/about_content'
    = render 'partials/about_score'
    = render 'partials/about_slider'
    = render 'partials/about_who_we_are'
    = render 'partials/about_footer'