.body
  .main{:role => "main"}
    = render 'partials/home_slider'
    = render 'partials/home_intro'
    = render 'partials/home_concept'
    .container
      .row
        .col
          %hr.tall.mt-4
      = render 'partials/home_feature'
      %hr.tall
      = render 'partials/home_customer'
    = render 'partials/home_section_blog_post'