.body.headerMarginTopFAQ
  .main{:role => "main"}
    .container
      %h2
        Frequently Asked
        %strong Questions
      .row
        .col
          %p.lead
            = raw @post.the_content
      %hr/
      .row
        .col
          .toggle.toggle-primary{"data-plugin-toggle" => ""}
            - current_site.the_post_type('faq-post-type').the_posts.visible_frontend.decorate.each_with_index do |faq, index|
              - if index == 0
                %section.toggle.active
                  %label
                    = faq.the_title
                  %p
                    = faq.the_content
              - else
                %section.toggle
                  %label
                    = faq.the_title
                  %p{style: "height: 0"}
                    = faq.the_content
