.body.header-margin-top-faq
  .main{:role => "main"}
    .container
      %h2
        - title = @post.the_field('title-faq-page')
        = title if title != ''
      .row
        .col
          %p.lead
            = fix_new_line_space(raw (@post.the_content))
      %hr/
      .row
        .col
          .toggle.toggle-primary{"data-plugin-toggle" => ""}
            - current_site.the_post_type('faq-post-type').the_posts.visible_frontend.decorate.each_with_index do |faq, index|
              - if index == 0
                %section.toggle.active
                  %label
                    = faq.the_title
                  = fix_new_line_space(raw (faq.the_content))
              - else
                %section.toggle
                  %label
                    = faq.the_title
                  %p{style: "height: 0"}
                    = fix_new_line_space(raw (strip_tags(faq.the_content)))


