.container
  .row.mt-5
    .col-lg-5
      %h2
        %strong Who
        We Are
      %p
        = @post.the_field('about-who-we-are-content')
    .col-lg-7
      .progress-bars.mt-4
        - current_site.the_post_type('about-who-we-are-progress').the_posts.visible_frontend.decorate.each do |progress|
          .progress-label
            %span
              = progress.the_field('about-who-we-are-progress-title')
          .progress.mb-2
            - percent = "#{progress.the_field('about-who-we-are-progress-percent')}%"
            .progress-bar.progress-bar-primary{"data-appear-progress-animation" => percent}
              %span.progress-bar-tooltip
                = percent
  .row.mt-5.mb-5
    - current_site.the_post_type('about-us').the_posts.visible_frontend.decorate.each do |us|
      .col-sm-6.col-lg-3.mb-4.mb-lg-0
        %span.thumb-info.thumb-info-hide-wrapper-bg
          %span.thumb-info-wrapper
            %a{:href => "about-me.html"}
              = image_tag us.the_field('about-us-image'), class: 'img-fluid'
              %span.thumb-info-title
                %span.thumb-info-inner
                  = us.the_field('about-us-name')
                %span.thumb-info-type
                  = us.the_field('about-us-position')
          %span.thumb-info-caption
            %span.thumb-info-caption-text
              = us.the_field('about-us-description')
            %span.thumb-info-social-icons.about-socail
              %span
                = link_to us.the_field('about-us-facebook'), target: "_blank" do
                  = fa_icon 'facebook'
              %span
                = link_to us.the_field('about-us-twitter'), target: "_blank" do
                  = fa_icon 'twitter'
              %span
                = link_to us.the_field('about-us-linkedin'), target: "_blank" do
                  = fa_icon 'linkedin'