.container
  .row
    .col
      .blog-posts
        - oscar_blog_posts.each do |post|
          - post_decorate = post.decorate
          %article.post.post-large
            .post-image
              .owl-carousel.owl-theme{"data-plugin-options" => "{'items':1}"}
                - post_decorate.the_fields('post-image').each do |image|
                  .img-thumbnail.d-block
                    = image_tag image, class: 'img-fluid'
            .post-date
              - blog_date = post_decorate.the_field('date').split('-')
              - day = blog_date[2]
              - month = Date::MONTHNAMES[blog_date[1].to_i][0..2]
              %span.day
                = day
              %span.month
                = month
            .post-content
              %h2
                = link_to post_decorate.the_title, post_decorate.the_url
              %p
                - blog_content =  post_decorate.the_content
                = raw (blog_content).truncate(150, omission: '[...]')
              .post-meta
                %span
                  %i.fa.fa-user
                  By
                  %span.color-primary
                    = post_decorate.the_field('post-author')
                %span
                  %i.fa.fa-tag
                  - post_decorate.the_fields('post-tag').each do |tag|
                    %span.color-primary
                      = tag
                      = ',' unless post_decorate.the_fields('post-tag').last == tag
                %span.d-block.d-sm-inline-block.float-sm-right.mt-3.mt-sm-0
                  = link_to 'Read more...', post_decorate.the_url, class: 'blogReadMore btn-primary'
        .float-right
          = will_paginate(oscar_blog_posts, previous_label: '«', next_label: '»')