%iframe{ style: 'width: 100%; height: 450px;', allowfullscreen: '', frameborder: '0', src: @post.the_field('contact-map') }
.container
  .row#contact-info
    .col-lg-6
      #contactSuccess.alert.alert-success.d-none.mt-4
        %strong Success!
        Your message has been sent to us.
      #contactError.alert.alert-danger.d-none.mt-4
        %strong Error!
        There was an error sending your message.
        %span#mailErrorMessage.text-1.mt-2.d-block
      %h2.mb-3.mt-2
        - title = @post.the_field('title-contact-page')
        = title if title != ''
      - email = @post.the_field('contact-email')
      %form#contactForm{:action => "https://formspree.io/f/#{email}", :method => "POST"}
        .form-row
          .form-group.col-lg-6
            %label Your name *
            %input#name.inputContact.form-control{"data-msg-required" => "Please enter your name.", :maxlength => "100", :name => "name", :required => false, :type => "text", :value => ""}/
            %label.d-none.text-danger#text-name Please enter your name.
          .form-group.col-lg-6
            %label Your email address *
            %input#email.inputContact.form-control{"data-msg-email" => "Please enter a valid email address.", "data-msg-required" => "Please enter your email address.", :maxlength => "100", :name => "email", :required => false, :type => "email", :value => ""}/
            %label.d-none.text-danger#text-email Please enter a valid email address.
        .form-row
          .form-group.col
            %label Subject *
            %input#subject.inputContact.form-control{"data-msg-required" => "Please enter the subject.", :maxlength => "100", :name => "subject", :required => false, :type => "text", :value => ""}/
            %label.d-none.text-danger#text-subject Please enter the subject.
        .form-row
          .form-group.col
            %label Message *
            %textarea#message.inputContact.form-control{"data-msg-required" => "Please enter your message.", :maxlength => "5000", :name => "message", :required => false, :rows => "10"}
            %label.d-none.text-danger#text-sms Please enter your message.
        .form-row
          .form-group.col
            %input#sendMessage.btn{"data-loading-text" => "Loading...", :type => "submit", :value => "Send Message"}/
    .col-lg-6.link-color
      %h4.mt-4.color-primary
        = oscar_translation('ទំនាក់ទំនង','Get in')
        %strong
          = oscar_translation('ពួក​យើង','Touch')
      = fix_new_line_space(raw(@post.the_content))
      %hr/
      %h4.color-primary
        = oscar_translation('','The')
        %strong
          = oscar_translation('ការិយាល័យ','Office')
      %ul.list.list-icons.list-icons-style-3.mt-4.office-color
        %li
          %i.fa.fa-map-marker
          %strong
            = oscar_translation('ឤស័យដ្ឋាន:','Address:')
          = @post.the_field('contact-address')
        %li
          %i.fa.fa-phone
          %strong
            = oscar_translation('ទូរស័ព្ទ:','Phone:')
          = @post.the_field('contact-phone')
        %li
          %i.fa.fa-envelope
          %strong
            = oscar_translation('អ៊ីមែល:','Email:')
            %a.color-primary{href: '#!'}
              = @post.the_field('contact-email')
          / = link_to @post.the_field('contact-email'), target: "_blank" do
          /   = @post.the_field('contact-email')
      %hr/
      %h4.color-primary
        = oscar_translation('ម៉ោង','Business')
        %strong
          = oscar_translation('ធ្វើការ','Hours')
      %ul.list.list-icons.list-dark.mt-4.office-color
        - @post.the_fields('contact-business-hour').each do |hour|
          %li
            %i.fa.fa-clock-o
            = hour