.container
  .row.text-center
    .col
      %h1.word-rotator-title.mb-2
        = @post.the_title
      = fix_new_line_space(raw(@post.the_content))
  .row.mt-5
    - current_site.the_post_type('home-feature').the_posts.visible_frontend.decorate.each do |feature|
      .col-lg-4
        = link_to feature.the_field("feature-url"), style: "text-decoration: none" do
          .feature-box{style: "padding: 10px;"}
            %span
              - icon = feature.the_field('feature-icon')
              %i{class: "#{icon}", style: 'font-size: 28px;'}
            .feature-box-info
              %h4.mb-1
                = feature.the_title
              %p
                = fix_new_line_space(raw(feature.the_content))
