%footer#footer
  .container
    .row
      .footer-ribbon
        %span Get in Touch
      / .col-lg-3
      /   .newsletter
      /     %h4 Newsletter
      /     %p Keep up on our always evolving product features and technology. Enter your e-mail and subscribe to our newsletter.
      /     #newsletterSuccess.alert.alert-success.d-none
      /       %strong Success!
      /       You've been added to our email list.
      /     #newsletterError.alert.alert-danger.d-none
      /     %form#newsletterForm{:action => "php/newsletter-subscribe.php", :method => "POST"}
      /       .input-group
      /         %input#newsletterEmail.form-control.form-control-sm{:name => "newsletterEmail", :placeholder => "Email Address", :type => "text"}/
      /         %span.input-group-btn
      /           %button.btn.btn-light{:type => "submit"} Go!
      / .col-lg-3
      /   %h4 Latest Tweets
      /   #tweet.twitter{"data-plugin-options" => "{'username': '', 'count': 2}", "data-plugin-tweets" => ""}
      /     %p Please wait...
      .col-lg-4
        .contact-details
          %h4 Contact Us
          %ul.contact
            %li
              %p
                %i.fa.fa-map-marker
                %strong Address:
                = current_theme.the_field('contact-address')
            %li
              %p
                %i.fa.fa-phone
                %strong Phone:
                = current_theme.the_field('contact-phone')
            %li
              %p
                %i.fa.fa-envelope
                %strong Email:
                = link_to current_theme.the_field('contact-email'), target: "_blank" do
                  = current_theme.the_field('contact-email')
      .col-lg-2
        %h4 Follow Us
        %ul.social-icons
          %li.social-icons-facebook
            = link_to current_theme.the_field('facebook-url'), target: "_blank" do
              = fa_icon 'facebook'
          %li.social-icons-twitter
            = link_to current_theme.the_field('twitter-url'), target: "_blank" do
              = fa_icon 'twitter'
          %li.social-icons-linkedin
            = link_to current_theme.the_field('linkedin-url'), target: "_blank" do
              = fa_icon 'linkedin'
  .footer-copyright
    .container
      .row
        .col-lg-2
          %a.logo{:href => "index.html"}
            = image_tag current_site.the_logo, class: 'img-responsive img-logo', alt: "OSCar Logo"
        .col-lg-6
          %p
            ©
            = oscar_translation('រក្សាសិទ្ធិគ្រប់យ៉ាងឆ្នាំ 2017','Copyright 2017. All Rights Reserved.')
        .col-lg-4
          %nav#sub-menu
            %ul
              %li
                %a{:href => "#{current_site.the_post('faq').the_url}"} FAQ's
              %li
                %a{:href => "/sitemap"} Sitemap
              %li
                %a{:href => "#{current_site.the_post('contact-us').the_url}"} Contact
