%footer#footer
  .container
    .row
      .footer-ribbon
        %span
          = oscar_translation('ទំនាក់ទំនង','Get in Touch')
      / .col-lg-3
      /   .newsletter
      /     %h4 Newsletter
      /     %p Keep up on our always evolving product features and technology. Enter your e-mail and subscribe to our newsletter.
      /     #newsletterSuccess.alert.alert-success.d-none
      /       %strong Success!
      /       You've been added to our email list.
      /     #newsletterError.alert.alert-danger.d-none
      /     %form#newsletterForm{:action => "php/newsletter-subscribe.php", :method => "POST"}
      /       .input-group
      /         %input#newsletterEmail.form-control.form-control-sm{:name => "newsletterEmail", :placeholder => "Email Address", :type => "text"}/
      /         %span.input-group-btn
      /           %button.btn.btn-light{:type => "submit"} Go!
      / .col-lg-3
      /   %h4 Latest Tweets
      /   #tweet.twitter{"data-plugin-options" => "{'username': '', 'count': 2}", "data-plugin-tweets" => ""}
      /     %p Please wait...
      .col-lg-4
        .contact-details
          %h4
            = oscar_translation('ទាក់ទង​មក​ពួក​យើង','Contact Us')
          %ul.contact
            %li
              %p
                %i.fa.fa-map-marker
                %strong
                  = oscar_translation('ឤស័យដ្ឋាន:','Address:')
                = current_site.the_post('contact-us').the_field('contact-address')
            %li
              %p
                %i.fa.fa-phone
                %strong
                  = oscar_translation('ទូរស័ព្ទ:','Phone:')
                = current_site.the_post('contact-us').the_field('contact-phone')
            %li
              %p
                %i.fa.fa-envelope
                %strong
                  = oscar_translation('អ៊ីមែល:','Email:')
                %a{href: '#!'}
                  = current_site.the_post('contact-us').the_field('contact-email')
                / = link_to current_site.the_post('contact-us').the_field('contact-email'), target: "_blank" do
                /   = current_site.the_post('contact-us').the_field('contact-email')
      .col-lg-2
        - facebook = current_theme.the_field('facebook-url')
        - twitter = current_theme.the_field('twitter-url')
        - linkedin = current_theme.the_field('linkedin-url')
        - unless facebook == '' && twitter == '' && linkedin == ''
          %h4
            = oscar_translation('តាម​ពួក​យើង','Follow Us')
          %ul.social-icons
            - if facebook != ''
              %li.social-icons-facebook
                = link_to current_theme.the_field('facebook-url'), target: "_blank" do
                  = fa_icon 'facebook'
            - if twitter != ''
              %li.social-icons-twitter
                = link_to current_theme.the_field('twitter-url'), target: "_blank" do
                  = fa_icon 'twitter'
            - if linkedin != ''
              %li.social-icons-linkedin
                = link_to current_theme.the_field('linkedin-url'), target: "_blank" do
                  = fa_icon 'linkedin'
      - menu_get_to_know_us = cama_menu_parse_items(current_site.nav_menus.find_by_slug('get-to-know-us').children).count
      - menu_footer_main_menu = cama_menu_parse_items(current_site.nav_menus.find_by_slug('footer-main-menu').children).count
      - if menu_get_to_know_us > 0
        .col-lg-3
          %h4 Get To Know Us
          = raw oscar_get_menu_get_to_know_us('get-to-know-us', 'footer-custome')
      - if menu_footer_main_menu > 0
        .col-lg-3
          %h4 Main Menu
          = raw oscar_get_menu_get_to_know_us('footer-main-menu', 'footer-custome')
  .footer-copyright
    .container
      .row
        / .col-lg-2
        /   = link_to current_site.the_url, class: 'img-responsive img-logo logo', alt: "OSCar Logo" do
        /     = image_tag current_site.the_logo, class: 'img-responsive img-logo'
        .col-lg-8
          %p
            ©
            = oscar_translation("រក្សាសិទ្ធិគ្រប់យ៉ាងឆ្នាំ #{Date.today.year}","Copyright #{Date.today.year}. All Rights Reserved.")
        .col-lg-4
          %nav#sub-menu
            %ul
              - if current_site.the_post('faq')
                %li
                  %a{:href => "#{current_site.the_post('faq').the_url}"} FAQ's
              %li
                %a{:href => "/sitemap"}
                  = oscar_translation('ប្លង់គេហទំព័រ','Sitemap')
              %li
                %a{:href => "#{current_site.the_post('contact-us').the_url}"}
                  = oscar_translation('ទំនាក់ទំនង','Contact Us')
    .row#usaid-container
      .col-lg-4.col-md-6.col-sm-12#usaid-image
        = image_tag theme_asset_url('images/ghr_logo.png'), alt: "GHR"
      .col-lg-4.col-md-6.col-sm-12
        %p#usaid-text{"data-target" => "#exampleModal", "data-toggle" => "modal"} GHR Disclaimer
