.container
  .row.text-center
    .col
      %h1.mb-2.word-rotator-title
        = current_site.the_post('home').the_field('project-name')
        - slide_words = @post.the_fields('concept-slide-word').join(',')
        - if slide_words != ''
          %strong.inverted
            %span.word-rotator{"data-plugin-options" => "{'delay': 2000, 'animDelay': 300}"}
              %span#js-rotating-home
                = slide_words
        = current_site.the_post('home').the_field('project-meaning')
      %p.lead#home-concept
        = current_site.the_post('home').the_field('concept-description')

.home-concept.mt-5
  .container
    .row.text-center
      %span.sun
      %span.cloud
      .col-lg-2.ml-lg-auto
        .process-image
          = image_tag current_site.the_post('home').the_field('concept-first-image').cama_parse_image_version('300x300'), class: 'home-concept-image'
          /= image_tag theme_asset_url('images/img/home-concept-item-1.png')
          %strong
            = current_site.the_post('home').the_field('concept-first-description')
      .col-lg-2
        .process-image
          = image_tag current_site.the_post('home').the_field('concept-second-image').cama_parse_image_version('300x300'), class: 'home-concept-image'
          /= image_tag theme_asset_url('images/img/home-concept-item-2.png')
          %strong
            = current_site.the_post('home').the_field('concept-second-description')
      .col-lg-2
        .process-image
          = image_tag current_site.the_post('home').the_field('concept-third-image').cama_parse_image_version('300x300'), class: 'home-concept-image'
          /= image_tag theme_asset_url('images/img/home-concept-item-3.png')
          %strong
            = current_site.the_post('home').the_field('concept-third-description')
      .col-lg-4.ml-lg-auto
        .project-image
          #fcSlideshow.fc-slideshow
            %ul.fc-slides
              - @post.the_fields('concept-big-image').each do |imageUrl|
                %li
                  = image_tag imageUrl.cama_parse_image_version('600x600'), class: 'img-responsive home-concept-slide-image'
          %strong.our-work
            = current_site.the_post('home').the_field('concept-big-description')
