.row.text-center.pt-4
  .col
    %h2.mb-2.word-rotator-title
      = current_site.the_post('home').the_field('main-first-description')
      %strong
        %span.word-rotator{"data-plugin-options" => "{'delay': 3500, 'animDelay': 400}"}
          %span#js-rotating-customer
            = @post.the_fields('customer-description-slide-word').join(',')
      = current_site.the_post('home').the_field('main-second-description')
    %h4.heading-primary.tall.welcomeContent
      = current_site.the_post('home').the_field('sub-description')
.row.text-center
  .owl-carousel.owl-theme{"data-plugin-options" => "{'items': 5, 'autoplay': true, 'autoplayTimeout': 3000}"}
    - current_site.the_post_type('home-customer-image').the_posts.visible_frontend.decorate.each do |image|
      #customer-images
        = image_tag image.the_field('customer-logo'), class: 'img-responsive'
