.container
  .row.text-center
    .col
      %h1.word-rotator-title.mb-2
        = oscar_translation('លក្ខណៈពិសេស','Features')
      %br/
      %br/
  .row.mt-5
    - current_site.the_post_type('home-feature').the_posts.visible_frontend.decorate.each do |feature|
      .col-lg-4
        .feature-box{style: "padding: 10px;"}
          = image_tag feature.the_field('feature-icon'), size: "40x40"
          .feature-box-info
            %h4.heading-primary.mb-1
              = link_to "#{feature.the_title}", feature.the_field("feature-url"), style: "text-decoration: none"
            %p
              = raw(feature.the_content)
