- if current_site.the_post('blog').the_field('blog-show') == '1'
  .col-lg-6
    .recent-posts.mb-5
      %h2
        Latest
        %strong#blog Blog
        Posts
      .owl-carousel.owl-theme.mb-0{"data-plugin-options" => "{'items': 1}"}
        - posts = current_site.the_post_type('home-latest-blog-post').the_posts.visible_frontend.decorate
        / loop posts 1 time, step 2
        - (0..posts.length).step(2).each do |i|
          / if no post, break
          - if i == posts.length
            -  break
          .row
            .col-lg-6
              %article
                .date
                  - post = posts[i]
                  - blogDate = post.the_field('date').split('-')
                  - day = blogDate[2]
                  - month = Date::MONTHNAMES[blogDate[1].to_i][0..2]
                  %span.day
                    = day
                  %span.month
                    = month
                %h4.heading-primary
                  = link_to post.the_title, post.the_field('post-url')
                %p
                  - blog_content =  post.the_content
                  = raw (blog_content).truncate(150)
                  - if blog_content.size > 149
                    = link_to post.the_field('post-url'), class: 'read-more' do
                      read more
                      %i.fa.fa-angle-right

            - nextPosition = i + 1
            - if nextPosition < posts.length
              - post = posts[nextPosition]
              .col-lg-6
                %article
                  .date
                    - blogDate = post.the_field('date').split('-')
                    - day = blogDate[2]
                    - month = Date::MONTHNAMES[blogDate[1].to_i][0..2]
                    %span.day
                      = day
                    %span.month
                      = month
                  %h4.heading-primary
                    = link_to post.the_title, post.the_field('post-url')
                  %p
                    - blog_content =  post.the_content
                    = raw (blog_content).truncate(150)
                    - if blog_content.size > 149
                      = link_to post.the_field('post-url'), class: 'read-more' do
                        read more
                        %i.fa.fa-angle-right