.col-lg-6
  %h2
    %strong#what
      = oscar_translation('អ្វី','What')
    = oscar_translation('ដែលអតិថិជននិយាយ','Client’s Say')
  .row
    .owl-carousel.owl-theme.mb-0{"data-plugin-options" => "{'items': 1}"}
      - posts = current_site.the_post_type('home-testimonials').the_posts.visible_frontend.decorate
      - posts.each do |testimonial|
        .col
          .testimonial.testimonial-primary
            %blockquote#home-testimonial.link-color
              = fix_new_line_space(raw(testimonial.the_content))
            .testimonial-arrow-down
            .testimonial-author
              .testimonial-author-thumbnail.img-thumbnail
                = image_tag testimonial.the_field('testimonial-image')
              %p
                %strong
                  = testimonial.the_field('testimonial-name')
                %span
                  = testimonial.the_field('testimonial-position')
