.slider-container.light.rev_slider_wrapper
  #revolutionSlider.slider.rev_slider{"data-plugin-options" => "{'delay': 9000, 'gridwidth': 500, 'gridheight': 550, 'responsiveLevels': [4096,1200,992,500]}", "data-plugin-revolution-slider" => ""}
    %ul
      %li{"data-transition" => "fade"}
        = image_tag current_site.the_post('home').the_field('image-slider'), "data-bgfit" => "cover", "data-bgposition" => "center center", "data-bgrepeat" => "no-repeat", class: 'rev-slidebg'

        - video = current_site.the_post('home').the_field('video-slider')
        .rs-background-video-layer{"data-aspectratio" => "16:9", "data-autoplay" => "true", "data-autoplayonlyfirsttime" => "false", "data-forcecover" => "1", "data-forcerewind" => "on", "data-nextslideatend" => "true", "data-videoheight" => "100%", "data-videoloop" => "loop", "data-videomp4" => "#{video}", "data-videopreload" => "preload", "data-videowidth" => "100%", "data-volume" => "mute"}

        .tp-caption.top-label{"data-hoffset" => "0", "data-start" => "500", "data-transform_in" => "y:[-300%];opacity:0;s:500;", "data-x" => "center", "data-y" => "248", :style => "z-index: 5"}
          = current_site.the_post('home').the_field('first-text-load')

        .tp-caption.main-label{"data-hoffset" => "0", "data-mask_in" => "x:0px;y:0px;", "data-start" => "1000", "data-transform_in" => "y:[100%];s:500;", "data-transform_out" => "opacity:0;s:500;", "data-whitespace" => "nowrap", "data-x" => "center", "data-y" => "278", :style => "z-index: 5"}
          = current_site.the_post('home').the_field('second-text-load')

        .tp-caption.bottom-label{"data-fontsize" => "['20','20','20','30']", "data-hoffset" => "0", "data-start" => "1500", "data-transform_in" => "y:[100%];opacity:0;s:500;", "data-x" => "center", "data-y" => "358", :style => "z-index: 5"}
          = current_site.the_post('home').the_field('third-text-load')
