.container
  .row
    .col.link-color
      %h2.mb-0
        %strong#princing
          - title = @post.the_field('title-pricing-page')
          = title if title != ''
      = fix_new_line_space(raw (@post.the_content))
      %hr.tall/
  .row
    - card = current_site.the_post_type('pricing-card').the_posts.visible_frontend.decorate
    .col
      %h4.mb-2
        %strong
          = card.size.humanize.titleize
        = oscar_translation('គម្រោង','Plans')
      %p
        = @post.the_field('pricing-plan-introdution-sentence')
      .pricing-table.row.no-gutters.mt-2.mb-2
        - card.each do |price|
          - if price.the_field('pricing-popular').blank?
            .col-lg-3.col-sm-6
              .plan
                %h3
                  = price.the_title
                  %span
                    = "$#{price.the_field('pricing-price')}"
                %ul
                  - price.the_fields('pricing-item').each do |item|
                    %li
                      = item
          - else
            .col-lg-3.col-sm-6.text-center
              .plan.most-popular
                .plan-ribbon-wrapper
                  .plan-ribbon
                    = oscar_translation('ពេញនិយម','Popular')
                %h3
                  = price.the_title
                  %span
                    = "$#{price.the_field('pricing-price')}"
                %ul
                  - price.the_fields('pricing-item').each do |item|
                    %li
                      = item
