.main{:role => "main"}
  .container
    %h2
      - title = @post.the_field('title-service-page')
      = title if title != ''
    .row.align-items-center
      %br
      .col-lg-10
        %p.welcomeContent
          = fix_new_line_space(raw (@post.the_content))
      .col-lg-2
        - button_text = @post.the_field("button-text-service")
        - button_url = @post.the_field("button-url-service")
        = link_to button_text, button_url, class: "btn btn-lg", id: 'buttonContactUs'
    %hr/
    .featured-boxes
      .row
        - current_site.the_post_type('service').the_posts.visible_frontend.decorate.each do |service|
          .col-lg-3.col-sm-6
            .featured-box.featured-box-primary.featured-box-effect-1.mt-0.mt-lg-5{style: 'min-height: 377px;'}
              .box-content
                %i.icon-featured.fa{class: "#{service.the_field('service-font-awesome-icon-name')}", style: 'font-size: 48px;'}
                - title = service.the_title
                .titleLess{style: 'display: none'}
                  %h4.text-uppercase
                    = title
                .titleMore
                  %h4.text-uppercase
                    = title[0..20]
                    - if title.size > 20
                      %span ...
                - description = service.the_content
                .readLess{style: 'display: none'}
                  %p.longDescription
                    = strip_tags description
                  %a.learn-more.readLessLink{:href => "javascript:void(0)"}
                    = oscar_translation('អានតិច','Read Less')
                .readMore
                  %p.shortDescription
                    = strip_tags description[0..75]
                    - if description.size > 75
                      %span ...
                  %a.learn-more.readMoreLink{:href => "javascript:void(0)"}
                    = oscar_translation('អាន​បន្ថែម','Read More')
                    %i.fa.fa-angle-right