!!!
%html{:lang => "en"}
  %head
    / META SECTION
    %title= current_site.the_title
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, minimum-scale=1.0", :name => "viewport"}/
    / END META SECTION
    = stylesheet_link_tag theme_asset_path("css/main")
    = javascript_include_tag theme_asset_path("js/main.js")
    = raw the_head

    /Web Fonts
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light", :rel => "stylesheet", :type => "text/css"}/

  %body
    .oscar-navbar
      = render 'partials/navbar'
    .oscar-content
      = yield
    .oscar-modal
      = render 'partials/modalUsaid'
    .oscar-footer
      = render 'partials/footer'
